 @font-face {
      font-family: Roboto;
      src: url(fonts/Roboto-VariableFont.ttf);
    }


body {
    margin: 0px;
    background-color: rgb(148, 161, 135);
    font-family: Roboto;
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgb(58, 64, 90);
}

.body-content{
    display: flex;
}

.main-body{
    flex: 9;
    float: left;
    border: 1px solid rgb(58, 64, 90);
    padding: 40px;
}

.page-titles{
    margin: 0;
}

#timer {
    margin: 0;
    float: right;

}

.hiddenAnswer {
    visibility: hidden;
}

.main-body h3 {
    margin-left: 40px;
}

.main-body h4 {
    margin-left: 80px;
}

#credits-body h3{
    text-decoration: underline;
}

#about-body h3 {
    text-decoration: underline;
}

#about-body h4 {
    font-weight: normal;
}

#contact-body li {
    list-style-type: none;
    margin-bottom: 10px;
}

#contact-body label {
    margin-right: 10px;
}

.side-navbar,
.side-navbar ul,
.side-navbar ul li {
    display: flex;
    align-items: center;
    min-width: 150px;
    flex-direction: column;
}

.side-navbar{
    flex: 1;
    border: 1px solid black;
}

.side-navbar ul {
    height: inherit;
    padding: 0;
}

.side-navbar li{
    list-style-type: none;
    font-weight: Bold;
    margin-bottom: 10px;
    background-color: rgb(58, 64, 90);
    color: #58c3c3;
}

.side-navbar a {
    color: inherit;
    text-decoration: none;
}

.side-navbar #admin{
    color: #eb4242;
    align-self: flex-end;
}

.footer-nav {
    display: flex;
    align-items: center;
}
.footer-nav ul{
    flex: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    border: 1px solid rgb(58, 64, 90);
}

.footer-nav li{
    list-style-type: none;
    margin: 10px;
}

.footer-nav li img{
    max-height: 30px;
}

.copyright {
    width: 100%;
    text-align: center;
}

.copyright p{
    padding: 10px;
}